<div class="board">
  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[doneList, doingList]"
    (cdkDropListDropped)="drop($event)"
    class="list"
  >
    <app-task-item [list]="todo" type="todo"></app-task-item>
  </div>

  <div
    cdkDropList
    #doingList="cdkDropList"
    [cdkDropListData]="doing"
    [cdkDropListConnectedTo]="[todoList, doneList]"
    (cdkDropListDropped)="drop($event)"
    class="list"
  >
    <app-task-item [list]="doing" type="doing"></app-task-item>
  </div>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList, doingList]"
    (cdkDropListDropped)="drop($event)"
    class="list done"
  >
    <app-task-item [list]="done" type="done"></app-task-item>
  </div>
</div>

<button class="btn-add" mat-fab color="primary" (click)="onAddTask()">
  <mat-icon>add</mat-icon>
</button>
