.board {
  height: calc(100vh - 64px);
  background-color: #303030;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  gap: 3rem;

  .list {
    flex: 1;
    background-color: #4d4b4b;
    padding: 1rem;
  }
}

.btn-add {
  position: absolute;
  right: 3rem;
  bottom: 3rem;
}
